.calculator {
    background-color: deeppink;
    display: flex;
    flex-wrap: wrap;
    width: 120px;
    padding: 10px;
}

button {
    margin: 2px;
}

#display {
    height: 30px;
    width: 90px;
    margin: 10px;
    background-color: aliceblue;
}

.operation {
    font-weight: 600;
}